@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');




main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #04e05c;

  form {
    background-color: #333;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    border: 2px solid #04e05c;

    label {
        display: block;
        width: 90%;
        margin: 10px auto 0px auto;
    }

    input,
    textarea {
        display: block;
        width: 90%;
        padding: 0.6rem 0.8rem;
        margin: auto;
        margin-bottom: 1rem;
        border: 2px solid #a2d9b8;
        border-radius: 4px;
        font-size: 1rem;
        transition: border-color 0.5s ease;
        background-color: rgb(170, 170, 170);

        &:focus {
        border-color: #04e05c;
        outline: none;
        }
    }

    textarea {
      min-height: 80px;
      resize: vertical;
    }
  }

  input {
    width: 30%;
    margin-bottom: 1rem;
    padding: 0.6rem 0.8rem;
    border: 2px solid #a2d9b8;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.5s ease;
    background-color: rgb(170, 170, 170);

    &:focus {
        border-color: #04e05c;
        outline: none;
        }
  }

  p {
    font-size: 1rem;
    color: #d9534f; 
    margin-bottom: 1rem;
    text-align: center;
  }

  h2 {
    margin-bottom: 1rem;
    color: #04e05c;
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    li {
      border: 1px solid #04e05c;
      padding: 1rem;
      border-radius: 6px;
      background-color: #333;
      box-shadow: 0 1px 3px rgba(0,0,0,0.05);

      h3 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: #04e05c;
        font-size: 1.25rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {        
        margin: 0.3rem 0;
        color: rgb(200, 200, 200);

        b {
            color: #04e05c;
        }
      }

      a {
        color: #0077cc;
        text-decoration: none;
        font-weight: 500;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

}


#container > header {
    font-family: "Silkscreen";
    font-size: larger;
    color: #04e05c;
    text-align: center;
    background-color: rgb(120, 120, 120);
    border-bottom: 3px solid black;
    padding: 20px 0px;

    h1 {
        margin: 0px;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #333;
}

.description {
    color: #04e05c;
    font-family: 'VT323';
    font-size: larger;
}

div.description {
    margin-bottom: 80px;
}

button {
    display: block;
    width: fit-content;
    background-color: #04e05c;
    color: white;
    font-weight: 600;
    margin: 0px auto 30px auto;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    outline: 0px solid #04e05c;
    outline-width: 0px;
    transition: background-color 0.5s ease, color 0.5s ease, outline-width 0.5s ease;

    &:hover {
        background-color: white;
        color: #04e05c;
        outline-width: 2px;
    }
}

.arrow {
    display: block;
    width: 30%;
    margin: 10px auto 0px auto;
    cursor: pointer;
    font-size: larger;
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    border-color: #ddd;
    background-color: #333;
    color: #ddd;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5 ease;
}

.arrow.green.filled {
    border-color: #04e05c;
    background-color: #04e05c;
    color: #333;
}

.arrow.red.filled {
    border-color: #e00404;
    background-color: #e00404;
    color: #333;
}
